<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .nav > li a {
            color: #eee !important;
            font-weight: bold;
            text-decoration: none;
        }

        #Logout > li:hover a {
            color: #fa7878 !important;
        }

        #Login:hover a,
        #SignUp:hover a {
            color: #74f2b7 !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                    <li>@Html.ActionLink("Forgot Password", "ForgotPassword", "Home")</li>
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                    <li>@Html.ActionLink("Product Page", "ProductPage", "Home")</li>
                    <li>@Html.ActionLink("Search Results", "SearchResults", "Home")</li>
                    <li>@Html.ActionLink("Sign Up", "SignUp", "Home")</li>
                    <li>@Html.ActionLink("Terms & Conditions", "TermsAndConditions", "Home")</li>

                    <li>@Html.ActionLink("Account Management", "Index", "AccountManagement")</li>
                    <li>@Html.ActionLink("Last Orders", "LastOrders", "AccountManagement")</li>

                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>

                    <li>@Html.ActionLink("Basket", "Basket", "Checkout")</li>
                    <li>@Html.ActionLink("Checkout", "Checkout", "Checkout")</li>
                </ul>*@
                @if (Request.IsAuthenticated)
                {
                    <ul id="Logout" style="float:right; padding-right:4vmin" class="nav navbar-nav">
                        <li>
                            @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a style="height: 50px;vertical-align: super; display: block;line-height: 50px;" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            }
                        </li>
                    </ul>
                }

                @if (!Request.IsAuthenticated)
                {
            <ul style="float:right; padding-right:4vmin" class="nav navbar-nav">
                <li id="Login">@Html.ActionLink("Login", "Login", "Home")</li>
                <li id="SignUp">@Html.ActionLink("SignUp", "SignUp", "Home")</li>
            </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
