<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="~/Content/images/icons/favicon.png" />
    <title>Sparta Online Store - @ViewBag.Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light spartaPurple scrolling-navbar">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="/">
                <img src="~/Content/images/Logo.png" alt="" style="width:100px;height:45px;">
                <!-- <strong class="spartaPink-text">Sparta Store</strong> -->
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="~/Home" style="color: white;">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/Products" class="nav-link waves-effect" style="color: white;">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.spartaglobal.com/" target="_blank" class="nav-link waves-effect" style="color: white;">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/Contact" class="nav-link waves-effect" style="color: white;">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Home/FAQs" class="nav-link waves-effect" style="color: white;">FAQs</a>
                    </li>
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="~/Checkout/Basket">
                            <!-- <span class="badge red z-depth-1 mr-1"> 1 </span> -->
                            <i class="fas fa-shopping-cart" style="color: white;"></i>
                            <span class="clearfix d-none d-sm-inline-block" style="color: white;"> Cart </span>
                        </a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item dropdown" style="text-align:right;">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">My Account</a>
                            <div class="bg-dark dropdown-menu" style="font-size: 0.9em; width:150px; border-radius:0; margin:0;">
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="~/Admin/" class="dropdown-item">Dashboard</a>
                                }
                                else
                                {
                                    <a href="~/AccountManagement/" class="dropdown-item">Change Password</a>
                                    <a href="~/AccountManagement/AllOrders/" class="dropdown-item">My Orders</a>
                                    <a href="~/AccountManagement/AllReviews/" class="dropdown-item">My Reviews</a>
                                }
                                <div class="dropdown-divider"></div>
                                @using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a id="LogoutLink" class="nav-link dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                }
                            </div>
                        </li>
                    }
                    @if (!Request.IsAuthenticated)
                    {
                        <li id="Login" class="nav-link">@Html.ActionLink("Login", "Login", "Home")</li>
                        <li id="SignUp" class="nav-link">@Html.ActionLink("Sign up", "SignUp", "Home")</li>
                    }
                </ul>

            </div>

        </div>
    </nav>
    @*<div class="container body-content" style="padding-top:50px">

        </div>*@
    <div class="page-wrap">
        @RenderBody()
    </div>
    <footer class="site-footer page-footer text-center font-small mt-4 wow fadeIn">

        <hr class="my-4">
        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com/spartaglobal/" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCLL-3SO5bUE1q6JRgFzjBrA/featured" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>

            <a href="https://github.com/MylesMuda/Sparta-Online-Shop" target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->
        <!--Copyright-->
        <div class="footer-copyright py-3" id="#section2">
            &copy; @DateTime.Now.Year Copyright
            <a href="https://www.spartaglobal.com/" target="_blank" style="color: white;">Sparta Global</a> |
            <a href="/Home/Credits/" target="_blank"> Engineering 41 </a> |
            <a href="/Home/TermsAndConditions/" target="_blank">Terms and Conditions</a> -
            <a href="/Home/PrivacyPolicy/" target="_blank">Privacy Policy</a>
        </div>
        <!--/.Copyright-->
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
