<Sparta_Online_Shop.BasketItem>
    @{
        ViewBag.Title = "Basket";
    }
    <style>
    .SpartaFormWrapper form{
        text-align:right;
    }
    .BasketRemove{
        position:absolute;
        right:10px;
        bottom:5px;
    }
    .BasketRemove button{
        font-size: 0.7em !important;
        font-weight: bold;
        background-color: #ed3b65 !important;
        color: #FFF !important;
        padding: 5px 15px !important;
        border-radius: 10px;
        line-height: 10px;
    }
</style>


    <!--Main layout-->
    <main class="pt-4">
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="mt-5 h2 text-center" style="color: #df3a63; font-weight: bold;">Cart</h2>
            <!-- Heading -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                @*<span style="color: white">Your cart - £@ViewBag.TotalPrice</span>*@
                <span></span>
                <span class="badge spartaPurple badge-pill">@ViewBag.BasketItems.Count</span>
            </h4>

            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1" style="padding: 1rem;
                        background: linear-gradient(to right, #f31b4e, #3a1338);
                        padding: 1.5px; border-radius: .2em;">
                @foreach (BasketItem item in ViewBag.BasketItems)
                {
                <li class="list-group-item d-flex justify-content-between lh-condensed" style="background-color: #36393F;">
                    <div>
                        <h6 class="my-0" style="color: white; text-anchor: end">
                            @item.Product.ProductName
                            <span class="badge spartaPurple badge-pill">@item.Quantity</span>
                        </h6>
                        <small class="text-muted" style="text-anchor: end;color:#cbc2db !important;">@item.Product.ProductDescription</small>
                    </div>
                    <span class="text-muted" style="color:#cbc2db !important;">@item.Product.Price</span>
                    @using (Html.BeginForm("RemoveItem", "Checkout", FormMethod.Post, new { @class="BasketRemove"}))
                    {
                        <button class="btn btn-primary btn-md my-0 p" type="submit" name="BasketItemID" value="@item.BasketItemID">

                            remove
                        </button>
                    }
                </li>
                }
            </ul>
            <div style="text-align:right; margin:20px; ">
                <span style="color:#cbc2db; font-size: 1.3em;">Total Cost: £@ViewBag.TotalPrice</span>
            </div>
            <!-- Cart -->
            <div class="SpartaFormWrapper">
                @using (Html.BeginForm("Checkout", "Checkout"))
                {
                    if (ViewBag.BasketItems != null && ViewBag.BasketItems.Count > 0)
                    {
                        <div class="SpartaStoreButton" style="display:inline-block">
                            <input style="padding: 10px 40px;" class="btn btn-default" type="submit" value="Checkout" />
                        </div>
                    }
                    else
                    {
                        <div class="SpartaStoreButton" style="display:inline-block">
                            <a class="btn btn-default" href="/Home/Products/" >Continue Shopping</a>
                        </div>
                    }
                }
            </div>
        </div>
    </main>
    <!--Main layout-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</Sparta_Online_Shop.BasketItem>