<Sparta_Online_Shop.BasketItem>

    @{
        ViewBag.Title = "Checkout";
    }


    <!--Main layout-->
    <main>
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="mt-5 h2 text-center" style="color: #df3a63; font-weight: bold;">Checkout</h2>
            <!-- Heading -->
            <div class="SpartaStoreButton" style="margin-bottom: -40px;">
                <a href="~/Checkout/Basket/" class="btn btn-default">Back to Shopping Cart</a>
            </div>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                @*<span style="color: white">Your cart - £@ViewBag.TotalPrice</span>*@
                <span></span>
                <span class="badge spartaPurple badge-pill">@ViewBag.BasketItems.Count</span>
            </h4>
            <!-- Cart -->
            <ul class="list-group mb-3 z-depth-1" style="padding: 1rem;
                    background: linear-gradient(to right, #f31b4e, #3a1338);
                    padding: 1.5px; border-radius: .2em;">
                @foreach (BasketItem item in ViewBag.BasketItems)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed" style="background-color: #36393F;">
                        <div>
                            <h6 class="my-0" style="color: white; text-anchor: end">
                                @item.Product.ProductName
                                <span class="badge spartaPurple badge-pill">@item.Quantity</span>
                            </h6>
                            <small class="text-muted" style="text-anchor: end;color:#cbc2db !important;">@item.Product.ProductDescription</small>
                        </div>
                        <span class="text-muted" style="color:#cbc2db !important;">@item.Product.Price</span>
                    </li>
                }
            </ul>
            <div id="transaction-successful">
                <h1 id=transaction-result> </h1>
            </div>
            <div style="text-align:right; margin:20px; ">
                <span style="color:#cbc2db; font-size: 1.3em;">Total Cost: £@ViewBag.TotalPrice</span>
            </div>
            <div>
                <div style="margin-left: auto; min-width: initial; width: 200px;height: 100px;" id="paypal-button-container"></div>

                <div asp-action="Index" asp-controller="Form">
                    <script src="https://www.paypal.com/sdk/js?client-id=AX1KuTdKO9Yk80dWu-JMT_LjIdR2xqRICckC__LhTt60F2IHrqL-UxUcaT_0KROwBt9sZTssFt40tm3O&currency=GBP"></script>
                    <script>
                                paypal.Buttons({
                                    createOrder: function (data, actions) {
                                        // Set up the transaction
                                        return actions.order.create({
                                           purchase_units: [{
                                              amount: {
                                                 value: '@ViewBag.TotalPrice'
                                              }
                                           }]
                                        });
                                    },
                                   onApprove: function (data, actions) {
                                        // Capture the funds from the transaction
                                       return actions.order.capture().then(function (details) {

                                        // Call your server to save the transaction
                                        return fetch('/Checkout/PaypalPost', {
                                            method: 'post',
                                            redirect: 'follow',
                                            headers: {
                                                'content-type': 'application/json'
                                            },
                                            body: JSON.stringify({
                                               orderID: data.orderID
                                            })
                                        }).then(function (response) {
                                            return response.json();
                                        }).then(function (data) {
                                            window.location.replace(data.redirectUrl)
                                        });
                                    });
                               }
                            }).render('#paypal-button-container');
                    </script>
                </div>
            </div>
            <!-- Cart -->
        </div>
    </main>
    <!--Main layout-->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</Sparta_Online_Shop.BasketItem>