@model Sparta_Online_Shop.ProductReviews

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Price)
        </dd>

    </dl>
</div>
<p>
    <a href="/Products/Edit/@Model.Product.ProductID">Edit</a>
    <a href="/Products/Index">Back to List</a>
</p>

<h2>Reviews</h2>

<table class="table">
    <tr>
        <th>
            User's Name
        </th>
        <th>
            Rating
        </th>
        <th>
            ReviewText
        </th>
        <th>
            Date Of Review
        </th>
        <th>
            Flagged
        </th>
    </tr>

    @foreach (var item in Model.Reviews)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flagged)
            </td>
            <td>
                <a href="/Products/FlagReview/@item.ReviewID">Edit</a>
            </td>
        </tr>
    }
</table>