@model IEnumerable<Sparta_Online_Shop.Product>

@{
    ViewBag.Title = "Index";
}

<style>
</style>

<h1>Products</h1>

<div>
    <div>
        <div>Order Stock</div> @*Should be un-clickable until product is highlighted*@
    </div>

    <div>
        <div>Product Description: @ViewBag.ProductDescription</div>
        <div>Product Reviews: @ViewBag.ProductReview</div>
        <div>Flag Reviews</div>
    </div>

    <div>
        <h2>@Html.ActionLink("Products", "Index", "Products")</h2>
        <h2>@Html.ActionLink("Stock Orders", "StockOrders", "Admin")</h2>
        <h2>@Html.ActionLink("Users", "Index", "Users")</h2>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                </td>
            </tr>
        }
    </table>
</div>