@model IEnumerable<Sparta_Online_Shop.Product>

@{
    ViewBag.Title = "Index";
}

<style>
</style>

<h1>Products</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    <div>
        <div>Product Description: @ViewBag.ProductDescription</div>
        <div>Product Reviews: @ViewBag.ProductReview</div>
        <div>Flag Reviews</div>
    </div>

    <div>
        <h2>
            <a href="/Users/Index">Users</a>
        </h2>
        <h2>
            <a href="/Users/Index">Users</a>
        </h2>
        <h2>@Html.ActionLink("Stock Orders", "Index", "StockOrders")</h2>
    </div>

    <p>
        <h2>
            <a href="Create.cshtml">Create</a>
        </h2>
    </p>
    <table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }
</table>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a href="/Products/Edit/@item.ProductID">Edit</a> |
                    <a href="/Products/Details/@item.ProductID">Details</a> |
                    <a href="/Products/Delete/@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </table>
