@model IEnumerable<Sparta_Online_Shop.Product>

@{
    ViewBag.Title = "Products";
}

<style>
</style>

<h1>Products</h1>

<div>
    <h2>@Html.ActionLink("Dashboard", "Index", "Admin")</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="/Products/Edit/@item.ProductID">Edit</a> |
                <a href="/Products/Details/@item.ProductID">Details</a> |
                <a href="/Products/Delete/@item.ProductID">Delete</a>
            </td>
        </tr>
    }
</table>