
@{
    ViewBag.Title = "Index";
}
<style>

</style>
<h1>Overview</h1>
<p>This is the admin page</p>

<div>
    <h2>@Html.ActionLink("Products", "Products", "Admin")</h2>
    <h2></h2>>@Html.ActionLink("Stock Orders", "StockOrders", "Admin")</h2>
    <h2>@Html.ActionLink("Users", "Users", "Admin")</h2>
</div>

<div>
    <h3>Total Sales: @ViewBag.TotalSales</h3>
    <h3>Total Profit: @ViewBag.TotalProfit</h3>
    <h3>Day:@ViewBag.ProfitDay</h3>
    <h3>Month:@ViewBag.ProfitMonth</h3>
    <h3>Year:@ViewBag.ProfitYear</h3>
</div>