
@{
    ViewBag.Title = "Products";
}
<style>

</style>
<h1>Products</h1>

<div>
    <div>Products List: @ViewBag.ProductDescription<div/>
</div>

<div>
    <div>Add Product</div>
    <div>Delete Product</div> @*Should be un-clickable until product is highlighted*@
    <div>Edit Product</div> @*Should be un-clickable until product is highlighted*@
    <div>Order Stock</div> @*Should be un-clickable until product is highlighted*@
</div>

<div>
    <div>Product Description: @ViewBag.ProductDescription</div>
    <div>Product Reviews: @ViewBag.ProductReview</div>
    <div>Flag Reviews</div>
</div>

<div>
    <h2>@Html.ActionLink("Index", "Index", "Admin")</h2>
    <h2>@Html.ActionLink("Stock Orders", "StockOrders", "Admin")</h2>
    <h2>@Html.ActionLink("Users", "Users", "Admin")</h2>
</div>