@model List<OrderPageModel>

@{
    ViewBag.Title = "Orders";
}

<div style="width:80%; margin:60px auto;">
        <h1 style="padding-top:50px; color: #c41541; font-weight: bold;">
            My Orders
        </h1>
        <div class="SpartaStoreTable" >
            @foreach (var order in Model)
            {
                var collapseName = $"Order{@order.order.OrderID}";
                <table class="table border" style="color: white;">
                    <thead>
                        <tr>
                            <th>
                                Order Date
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-toggle="collapse" data-target="#@collapseName" class="clickable">
                            <td>
                                @Html.DisplayFor(modelItem => order.order.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.orderStatus.StatusName)<br />
                            </td>
                            <td>

                                <div class="SpartaStoreButton">
                                    <button class="btn btn-default">More Details</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="padding:0;">
                                <div id="@collapseName" class="collapse">
                                    <h6 style="padding: 30px 10px 10px 10px; color: #c41541; font-weight: bold; margin:0;">
                                        Order Details
                                    </h6>
                                    <table class="table border" style="color: white; margin:0;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Product Name
                                                </th>
                                                <th>
                                                    Quantity
                                                </th>
                                                <th>
                                                    Price Per Unit
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var orderDetail in order.orderDetails)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => orderDetail.Product.ProductName)
                                                    </td>
                                                    <td>
                                                        x @Html.DisplayFor(modelItem => orderDetail.Quantity)
                                                    </td>
                                                    <td>
                                                        &pound;@Html.DisplayFor(modelItem => orderDetail.ProductPrice)
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="3" style="text-align:right; background-color: #644d60;">
                                                    Total Cost : @Html.DisplayFor(modelItem => order.order.TotalCost)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
</div>